/**
 * 多媒體 客制化 CSS
 *
 * @since 0.0.1
 * @version 0.0.1
 * @author Brian
 * @date 2021/01/07
 */

//圖片
#media-image {
	.card-title {
		font-size: 14px;
	}

	/** 圖庫區 */
	.folder-tab {
		max-height: 500px;
		overflow-y: scroll;
		box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
	}

	/** 上傳按鈕群組 */
	.upload-button-group {
		display: inline-block;
	}

	.upload-button-group {
		> button {
			font-size: 14px;
		}
	}

	/** 上傳前預覽圖 */
	.file-preview.image-preview {
		z-index: 10!important;
	}

	.nav-link {
		font-size: 14px;
		.active {
			font-size: 14px;
		}
	}
	/** 圖片縮圖 */
	.img-thumbnail {
		padding: .25rem;
		background-color: #ebedef;
		border: 1px solid #c4c9d0;
		border-radius: .25rem;
		height: 100px;
		-o-object-fit: cover;
		object-fit: cover;
	}

	/** 選擇圖片游標 */
	.img-thumbnail:hover {
		cursor: pointer;
	}

	/** 圖庫區 */
	.folder-tab {
		max-height: 500px;
		overflow-y: scroll;
		box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
	}

	/** 圖片排列方式 */
	.filter-item {
		display: inline-block;
		max-width: 125px;
	}

	//選擇圖片按鈕
	.select-img input[type=checkbox] {
		height: 20px;
		width: 20px;
	}

	//選擇圖片按鈕
	.select-img {
		position: absolute;
		top: 0;
		left: 5px;
	}
}